{% extends 'base.html' %}        
 
{% block content %}
    <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-margin-top w3-border-light-grey w3-padding-24">Who We Are</h3>
    <p>
        Rongali is a human rights organization for individuals oppressed due to 
        their sexaul orenitatation and a refuge for sex trafficking vitcims across India. 
        We provide shelter, education, food, medical, and many other services to women, men, 
        children, and LGBTQ individuals. Vulnerable populations are frequently targeted by traffickers, 
        including runaway and homeless youth, as well as victims of domestic violence, sexual assault, 
        war, or social discrimination. Sexuality minorities include, but are not limited to, women, 
        lesbians, bisexuals, homosexuals, Female-to-male/male-to-female transsexuals, and other transgender. 
        we aim to help live their lives with self-acceptance, self-respect and dignity. Rangoli aims to bring sexuality, 
        sexual preference and gender identity into the realm of public discourse and link it to gender, human rights development 
        and other social movements.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.unsplash.com/photo-1522661067900-ab829854a57f" alt="John" style="width:100%">
      <h3>Education</h3>
      <p class="w3-opacity">Nelson Mandela</p>
      <p>“To deny people their human rights is to challenge their very humanity.”</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.unsplash.com/photo-1552627593-9059b74e9b0c" alt="Jane" style="width:100%">
      <h3>Shelter</h3>
      <p class="w3-opacity">Princess Diana</p>
      <p>“Carry out a random act of kindness, with no expectation of reward, safe in the knowledge that one day someone might do the same for you.”</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.unsplash.com/photo-1457530378978-8bac673b8062" alt="Mike" style="width:100%">
      <h3>Food</h3>
      <p class="w3-opacity">Sushmita Sen</p>
      <p>"Arm yourself with knowledge… It will be your greatest strength one day!!"</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.unsplash.com/photo-1478476868527-002ae3f3e159" alt="Dan" style="width:100%">
      <h3>Medical</h3>
      <p class="w3-opacity">Ellen Degeneres</p>
      <p>"Find out who you are and be that person. That’s what your soul was put on this Earth to be. Find that truth, live that truth, and everything else will come."</p>
    </div>
  </div>  
{% endblock content %}